@{
    ViewData["Title"] = "Login";
}
<ul>
    <li>
        <div class="loginwith">
            <div class="loginwithGoogle">
                <img  id="googlelogo" src="http://www.androidpolice.com/wp-content/themes/ap2/ap_resize/ap_resize.php?src=http%3A%2F%2Fwww.androidpolice.com%2Fwp-content%2Fuploads%2F2015%2F10%2Fnexus2cee_Search-Thumb-150x150.png&w=150&h=150&zc=3">
                <a style="text-decoration: none;" asp-action="LoginGoogle">
                <h1 style="color: black; margin: 10px;">
                    Login with Google
                </h1>
                </a>
            </div>
        </div>
    </li>
</ul>