<h1>You're logged out of your ProjectNotes account successfully.</h1>

<div class="loginwith">
       <div class="loginwithGoogle">
           <a style="text-decoration: none;" href="todo_twitterlogout">
           <h1 style="color: black; margin: 10px;">
               Click Here to log out from your Google account.
           </h1>
           </a>
       </div>
</div>